
       
header {
background-color: #b4a0bf;
color: #fff;
padding: 1em;
 text-align: center;
        }

.nav {
background-color:rgb(186, 154, 185) ;
color: rgb(93, 89, 136);
font-size: 20px;
border: #b4a0bf;
}

 
 